{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
  <!-- Register form -->

  <div class="container form">
    <div class="row">
      <div class="input-field col s12">
        <h3>Login</h3>
      </div>
    </div>
    <div class="row">
      <form method="post" class="col s12">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="emailid" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
          </div>
        </div>
        
      </form>
    </div>
  </div>


  {% if error == "no" %}
    <script>
    alert('Logged In Successfully');
    window.location=('{% url 'index' %}');
    </script>
  {% endif %}

  {% if error == "yes" %}
    <script>
    alert('Invalid Credential. Try Again...');
    </script>
  {% endif %}

{% endblock %} 