{% extends 'base.html' %}
{% load static %}

{% block title %}Decision{% endblock %}

{% block body %}
  <!-- Decision  -->

  <div class="container margin">
    <h4>Congratulations!</h4>
    <p>you completed the test.</p>
      
    <h5>With the help of this test we found that</h5>
    <p>you are in <b>extream dipression<b> 🙁</p>
    <p>Stay close to your loved one's 🥰</p>
    <p>Share your problem</p>
    <p>you just need to enjoy your day 🐱‍🏍</p>
    <p>Listen songs 🎶</p>
    <p>Watch informative content 😎</p>

    <a href="{% url 'index' %}">Go Home</a>
  </div>


{% endblock %}
