{% extends 'base.html' %}
{% load static %}

{% block title %}Test{% endblock %}

{% block body %}

  <!-- test -->

  <div class="container">
    
    <form method="post" class="margin" action="">
      {% csrf_token %}

      <h4>Hii user do this test</h4>
      <p>Have you been eating and sleeping?</p>
      <p>
        <label>
          <input name="eating" type="radio" required>
          <span>Yes</span>
        </label>
      </p>
      <p>
        <label>
          <input name="eating" type="radio" required>
          <span>No</span>
        </label>
      </p>

      <p>Would you be willing to talk to someone?</p>
      <p>
        <label>
          <input name="talk" type="radio" required>
          <span>Yes, i want</span>
        </label>
      </p>
      <p>
        <label>
          <input name="talk" type="radio" required>
          <span>No, i don't</span>
        </label>
      </p>

      <p>How are you doing?</p>
      <p>
        <label>
          <input name="doing" type="radio" required>
          <span>Great</span>
        </label>
      </p>
      <p>
        <label>
          <input name="doing" type="radio" required>
          <span>Good</span>
        </label>
      </p>
      <p>
        <label>
          <input name="doing" type="radio" required>
          <span>Not well</span>
        </label>
      </p>

      <p>Are you sleeping more or less then you normally do?</p>
      <p>
        <label>
          <input name="moreSleep" type="radio" required>
          <span>Yes</span>
        </label>
      </p>
      <p>
        <label>
          <input name="moreSleep" type="radio" required>
          <span>No</span>
        </label>
      </p>

      <p>Are you eating more or less than you normally do?</p>
      <p>
        <label>
          <input name="moreEat" type="radio" required>
          <span>Yes</span>
        </label>
      </p>
      <p>
        <label>
          <input name="moreEat" type="radio" required>
          <span>No</span>
        </label>
      </p>

      <p>Are you exercising daily?</p>
      <p>
        <label>
          <input name="exercising" type="radio" required>
          <span>Yes</span>
        </label>
      </p>
      <p>
        <label>
          <input name="exercising" type="radio" required>
          <span>No</span>
        </label>
      </p>
      <p>
        <label>
          <input name="exercising" type="radio" required>
          <span>I can't do exercises</span>
        </label>
      </p>

      <p>Are You feeling tired no matter how much you sleep?</p>
      <p>
        <label>
          <input name="tired" type="radio" required>
          <span>Little headache</span>
        </label>
      </p>
      <p>
        <label>
          <input name="tired" type="radio" required>
          <span>Body pain</span>
        </label>
      </p>
      <p>
        <label>
          <input name="tired" type="radio" required>
          <span>None of above</span>
        </label>
      </p>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
      
    </form>
  </div>
 
{% endblock %}
